@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, sans-serif;
}

textarea {
  resize: none;
}

.dropzone {
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropzone:hover {
  background-color: #f0f0f0;
}

button {
  transition: background-color 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
  background-color: #999999;
}
